@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --bright-color: #ccd2ce;
  --medium-dark-color: #413733;
  --dark-color: #191514;
  --darker-color: #100d0c;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--darker-color);
  color: var(--bright-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 10vh;
  background: var(--dark-color);
}

.logo-area {
  display: flex;
  align-items: center;
}

.logo-area i {
  font-size: 24px;
}

.logo-area a {
  text-decoration: none;
  color: var(--bright-color);
  letter-spacing: 0.5px;
  padding: 5px 4px;
  font-size: 24px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  list-style: none;
  transition: 0.3s ease-in-out;
}

.nav-item a {
  text-decoration: none;
  color: var(--bright-color);
  font-size: 20px;
  padding: 10px;
  margin: 2px 10px;
  cursor: pointer;

}

/* ------TOGGLE BUTTON------ */

.toggle-btn {
  margin-bottom: 8px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: none;
}

.toggle-btn .line-btn {
  height: 3px;
  width: 40px;
  display: block;
  background: var(--bright-color);
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .toggle-btn {
    display: block;
    transition: 0.3s ease-in-out;
  }

  .toggle-btn.active-toggle .line-btn:nth-child(2) {
    width: 0;
  }
  .toggle-btn.active-toggle .line-btn:nth-child(1) {
    transform: translateY(13px) rotate(135deg);
  }
  .toggle-btn.active-toggle .line-btn:nth-child(3) {
    transform: translateY(-13px) rotate(-135deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 10vh;
    gap: 0;
    backdrop-filter: blur(10px);
    background: var(--dark-color);
    text-align: center;
    flex-direction: column;
    width: 70%;
    height: 90vh;
    transition: .4s ease-in-out;

  }

  .nav-menu.active-toggle {
    right: 0;
  }

  .nav-item {
    margin: 16px 0;
    padding: 30px;
    width: 100%;
    text-align: center;
  }
}

/* ------FIM DO TOGGLE------ */
